/* Set up CSS variables for text colors in light and dark modes */
:root {
    --text-color-light: #333; /* Default text color for light mode */
    --text-color-dark: #fff;   /* Default text color for dark mode */
  }
  
  .education-container {
      margin: 30px;
  }
  
  .education-container img {
      display: block;
      margin: 0 auto;
      height: 50px;
      width: 50px;
  }
  
  .education-container h3 {
      text-align: center;
      color: #F79544;
      font-size: 18px;
      margin-top: 10px;
  }
  
  .education-item {
      border: 1px solid #eee;
      background-color: white;
      border-radius: 10px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      position: relative;
      overflow: hidden;
  }
  
  .school-name, .degree, .date-range, .location {
      font-size: 14px;
      color: var(--text-color-light); /* Set the default text color for light mode */
  }
  
  /* Dark mode styles */
  @media (prefers-color-scheme: light) {
      :root {
          --text-color-light: #fff; /* Adjust text color for light mode in dark theme */
          --text-color-dark: #333;   /* Adjust text color for dark mode in dark theme */
      }
  
      .education-container h3 {
          color: #F79544;
      }
  
      .education-item {
          background-color: #333; /* Change the background color in dark mode */
      }
  }
  