/* Landing page styles */
#landing {
    /* background-image: url('image.png'); */
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px 0;
    display: flex;
    align-items: center;
    height: 60vh;
    /* Adjust the height as needed */

    /* Mobile view styles */
}

#landing img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 4px solid rgb(166, 204, 206);
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    /* margin: 0 auto; */
    /* Center the image horizontally */
    position: relative;
    transition: transform 0.3s, filter 0.3s;
    filter: brightness(1);
    /* Add brightness to the image for the glowing effect */
    overflow: hidden;
    /* Hide the parts of the image that extend beyond the border */
}

#landing img:hover {
    transform: scale(1.3);
    /* Zoom in on hover */
    /* filter: brightness(1.0); */
    /* Increase brightness on hover */
    /* z-index: 1; */
    /* Elevate the image above other content */
}

#landing img:hover::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    /* Background color with transparency */
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
    /* Glowing box-shadow */
}




#landing .landing-text {
    text-align: left;
    flex: 1;
}


/* Media Query for Mobile View */
@media (max-width: 768px) {
    #landing {
        margin-top: 50px;
        flex-direction: column;
        /* Stack items vertically */
        height: auto;
        /* Remove height to allow content to determine the height */
        padding: 40px;
        /* Adjust padding as needed */
    }

    #landing img {
        margin-right: 0;
        /* Remove margin on the right */
        margin-bottom: 20px;
        /* Add bottom margin to separate image and text */
    }
}

.developer-title {
    font-size: 24px;
    font-weight: bold;
    color: #0078d4;
    /* Microsoft Blue */
}

.developer-name {
    background: linear-gradient(180deg, #0078d4, #eea372);
    /* Adjust the colors and gradient direction as needed */
    background-clip: text;
    /* Apply the gradient as text color */
    color: transparent;
    /* Hide the original text color */
    font-size: 24px;
    font-weight: bold;
}

.developer-name:hover {
    background: linear-gradient(180deg, #eea372, #0078d4);
    background-clip: text;
}

.description-container {
    background: #f0f0f0;
    /* Light Gray */
    border-radius: 16px;
    max-width: 800px;
    padding: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.description {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    /* Dark Gray */
    margin-top: 12px;
}

.icon {
    margin-right: 8px;
    color: #0078d4;
    /* Microsoft Blue */
}